<div>
  <nav class="navbar navbar-inverse navigation-clean" style="background-color:#0054a0;">
    <div class="container">
      <div class="navbar-header"><a class="navbar-brand navbar-link" [routerLink]="['/']" >MARS EXPLORATION PROGRAM</a>
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      </div>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav navbar-right">
          <li role="presentation"><a [routerLink]="['/creatrover']">Create Rover</a></li>
          <li role="presentation"><a [routerLink]="['/discovermass']">Explore Mars</a></li>

          <!--<li role="presentation"><a [routerLink]="['/controlrover']">Set Objectives Rover</a></li>
          <li role="presentation"><a [routerLink]="['/discovermass']">Discover Mass</a></li>-->
          <li role="presentation"><a [routerLink]="['/developerpage']">Developer</a></li>

        </ul>
      </div>
    </div>
  </nav>
</div>
