<!--Main dashboard starts here-->
<div class="features-boxed">
  <div class="container">
    <ol class="breadcrumb">
      <li><a>Home</a></li>
    </ol>
    <div class="intro">
      <h2 class="text-center">WELCOME</h2>
      <hr>
      <p class="text-center">Please Select an Option to Explore Mars </p>
    </div>
    <div class="row features">
      <div class="col-md-4 col-sm-6 item">
        <div class="box">
          <a [routerLink]="['/creatrover']"> <i class="glyphicon glyphicon-plus icon"></i>
            <h3 class="name">Create Rover</h3></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 item">
        <div class="box">
          <a  [routerLink]="['/discovermass']" > <i class="glyphicon glyphicon-plane icon"></i>
            <h3 class="name">Explore Mars</h3></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 item">
        <div class="box">
          <a [routerLink]="['/developerpage']" > <i class="glyphicon glyphicon-cog icon"></i>
            <h3 class="name">Developer</h3></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Main dashboard ends here-->





